@model IEnumerable<HangHoa>
@foreach (var item in Model)
{
	<div class="grid_1_of_4 images_1_of_4">
		<a href="#"><img src="/images/@item.Anh" alt="@item.TenHang" /></a>
		<h2>@item.TenHang </h2>
		<div class="price-details">
			<div class="price-number">
				<p><span class="rupees">$@item.Gia</span></p>
			</div>
			<div class="add-cart">
				<h4><a href="preview.html">Add to Cart</a></h4>
			</div>

			<div class="clear"></div>
			<div>
				<a asp-action="Delete" class="btn btn-primary" asp-controller="Home" asp-route-id="@item.MaHang">Delete</a>
				<a asp-action="Edit" class="btn btn-primary" asp-controller="Home" asp-route-id="@item.MaHang">update</a>
			</div>
		</div>
	</div>
	@* <div>
		<h4>KKKKK</h4>
		<h4><a href="#" asp-action="Delete" class="btn btn-primary" asp-controller="Home" asp-route-id="@item.MaHang">Delete</a></h4>
		<h4><a href="#" asp-action="Edit" class="btn btn-primary" asp-controller="Home" asp-route-id="@item.MaHang">update</a></h4>

	</div> *@
}
